.innerShellstyle {
	color: #767676;  
	border: solid; 
	border-radius: 5px 5px 70px 70px;
	height: 200px;
	width: 40%;
	text-align: center;
	float: left;
	margin-left: 15%;
	margin-top: 3%;
}

.outerShellstyle {
	color: #767676;  
	border: solid; 
	border-radius: 90px 90px 5px 5px;
	height: 300px;
	width: 70%;
	text-align: left;
}