.innerShellstyle {
	color: #767676;  
	border: solid; 
	border-radius: 5px 5px 70px 70px;
	height: 200px;
	width: 40%;
	text-align: center;
	float: left;
	margin-left: 15%;
	margin-top: 3%;
	background-color: black;
}

.outerShellstyle {  
	border: solid; 
	border-radius: 90px 90px 5px 5px;
	height: 300px;
	width: 70%;
	text-align: left;
	background-color: #767676; 
}

.labelStyle {
	color: white;
	margin-right: 85%;
}

.labelStyleAuto {
	color: white;
	margin-right: 85%;
	margin-top: -10%;
	
}

.labelStyleScreen {
	color: #FF3333;
	font-size: 72px;
	margin-bottom: 50px;
}

.dotStyle {
	color: #FF3333;

}
